@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: rgb(85, 84, 84);
    font-family: monospace;
    
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 500px;
    height:200px;
    color: brown;
    border: 2px solid rgb(117, 115, 119);
    background-color: black;
    border-radius: 23px;
    box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    
}
h2{
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}